:root {
--background-page:#FFFFFF;
--background-page-portfolio: #E5E5E5;
--color-logo: #4D5AE5;
--color-span-black: #2E2F42;
--color-span-white: #F4F4FD;
--color-site-nav-normal: #2E2F42;
--color-site-nav-hover: #404bbf;
--color-address-item-normal: #434455;
--color-address-item-hover:  #404bbf;
--background-color-first: #2E2F42;
--color-first-title: #FFFFFF;
--color-first-btn: #FFFFFF;
--background-color-first-btn: #4D5AE5;
--background-color-first-btn-hover: #404BBF;
--color-button-portfolio: #4d5ae5;
--color-button-portfolio-hover: #FFFFFF;
--background-color-button-portfolio: #F4F4FD;
--background-color-button-portfolio-hover: #404BBF;
--background-color-hero: #FFFFFF;
--background-color-section: #FFFFFF;
--color-section-title: #2e2f42;
--color-section-caption: #2e2f42;
--color-portfolio-title: #2e2f42;
--color-section-text-portfolio-text: #434455;
--background-color-next: #F4F4FD;
--background-color-footer: #2E2F42;
--color-footer-text: #F4F4FD;


}










body {
   color: #434455;
   background-color: var(--background-page);
   font-family: 'Roboto',sans-serif

}
.page {
color:#2E2F42;
background-color: var(--background-page-portfolio);
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.link.logo {
    text-decoration: none;
}



.logo {
    font-family: Raleway,sans-serif;
    font-size: 18px;
    line-height: 1.17;
    color: var(--color-logo);
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
span {
    color: var(--color-span-black);
}


span.span-footer {
    color:var(--color-span-white);
}


/*site nav*/

.site-nav .link {
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-site-nav-normal);
    font-weight: 500;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--color-site-nav-hover);
}

/*addres*/

.contact {
    font-style: normal;
}
.address-item {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-address-item-normal);
    letter-spacing: 0.02em;
}
.address-item.link:hover,
.address-item.link:focus {
color: var(--color-address-item-hover);
}

/*main*/

/*first-section 111111111111111111111111111111111111111111111*/

.first {
    background-color:var(--background-color-first);
}
.first-title {
    font-size: 56px;
    line-height: 1.07;
    color: var(--color-first-title); 
    text-align: center;
    letter-spacing: 0.02em;
}


.section.list {
    list-style: none;
}
.first-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-first-btn);
    background-color: var(--background-color-first-btn) ;
    cursor: pointer;
}

.first-btn:hover,
.first-btn:focus {
    background-color: var(--background-color-first-btn-hover); 
}




.button-portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--color-button-portfolio);
    background-color: var(--background-color-button-portfolio);
    

}
.button-portfolio:hover,
.button-portfolio:focus {
    color:var(--color-button-portfolio-hover);
}
.button-portfolio:hover,
.button-portfolio:focus {
background-color:var(--background-color-button-portfolio-hover);

}


.first-btn:hover,
.first-btn:focus {

}


/*next-section 22222222222222222222222222222222222222222222222222222222222*/

/*2-3 SECTION   3333333333333333333333333333333333333333*/
.section {
    background-color: var(--background-color-section);
}
.hero {
    background-color: var(--background-color-hero);
}
.section-title {
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-section-title);
    font-weight: 500;
    letter-spacing: 0.02em;

   
}

.section-caption {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--color-section-caption);

}

.img link {
    text-decoration: none;
} 



.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--color-portfolio-title);

}

.section-text {
    font-style: Regular;
    font-size: 16px;
    line-height: 1.5;
    color:var(--color-section-text-portfolio-text);
    letter-spacing: 0.02em;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-section-text-portfolio-text);

}

/*4-SECTION   4444444444444444444444444444444444444444444444444444*/

.next {
    background-color: var(--background-color-next);
}


/*footer   555555555555555555555555555555555555555555555555555*/

.footer {
    background-color:var(--background-color-footer);

}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    color:var(--color-footer-text);
}
.footer.link {
    text-decoration: none;
}